<div class="col-lg-2 col-6">
    <div class="card home">
        <img src="{{URL}}/publico/lojas/{{foto}}" class="card-img-top p-2 fotoanuncio" alt="...">
        <div class="card-body">
            <h5 class="card-title anuncio">{{titulo}} </h5>
            <small>{{nome_modelo}}</small>
            <p class="card-text preco">
                <strong>R$ {{preco}}</strong>
            </p>
            <div class="boxbtn">
                <a class="btn btnstore" href="{{URL}}/anuncio/{{nome_url}}/{{url}}">Ver mais</a>
            </div>
        </div>
    </div>
</div>