<div class="col-6 col-sm-3">
    <div class="image-upload-one">
        <div class="center">
            <div class="form-input">
                <label for="foto_0{{idii}}">
                    <img id="foto_0{{idii}}-preview" src="https://i.ibb.co/ZVFsg37/default.png">
                    <button type="button" class="imgRemove" onclick="myImgRemoveFunctionOne()"></button>
                </label>
                <input type="file" name="{{nomefoto}}" id="foto_0{{idii}}" accept="image/*"
                    onchange="showPreviewOne(event, this.id);">
            </div>

        </div>
    </div>
</div>