<!-- <h1>Sobre {{name}}</h1>
Olá mundo:)

<hr>
{{description}}
<br>
<br>
{{site}} -->
<style>
    /* .imglateral {
    width: 23%;
    position: absolute;
    right: 0;
    bottom: -98%;
} */
    img.imglateral {
        width: 550px;
        /* position: absolute; */
        right: 0;
        bottom: -98%;
    }

    .contornotexto {
        shape-outside: ellipse(399px 396px at 293% 50%);
        width: 137px;
        /* height: 500px; */
        float: right;
        opacity: 1;
    }

    @media (max-width:1680px) {
        .contornotexto {
            shape-outside: ellipse(399px 396px at 156% 50%);
            width: 257px;
            /* height: 500px; */
            float: right;
            opacity: 1;
        }
    }

    @media (max-width:1440px) {
        .contornotexto {
            shape-outside: ellipse(399px 396px at 109% 50%);
            width: 368px;
            /* height: 500px; */
            float: right;
            opacity: 1;
        }
    }
</style>
<div class="container-fluid p-0">
    <div class="banner about">

    </div>
</div>
<section class="about mt-5">
    <div class="container">
        <div class="row">
            <h1 class="titulosection">Dicas de Segurança</h1>
            <div class="col-md-12">
                <p>

                    Lorem ipsum dolor sit amet consectetur. Eros nulla habitant nunc nullam condimentum. Egestas massa
                    ut a
                    elementum facilisis arcu. Magna sem ornare consequat felis mus vestibulum vivamus. Cum mattis cras
                    orci
                    tincidunt tellus orci tempus neque mi.
                </p>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Pulvinar ut ut facilisi tellus. Ipsum purus diam porttitor fusce purus
                            duis. Mauris urna quisque nullam mattis. Scelerisque eget at
                            nulla id nisi aliquam sagittis ligula. Magnis pellentesque
                            nunc dapibus urna. Vivamus augue vitae amet
                            maecenas amet sit placerat et. Interdum aliquet
                            proin a sit euismod amet risus neque tortor.
                        </p>
                        <p>
                            Nulla facilisis in libero sapien lectus eu pharetra eget!

                            Egestas nunc habitant ipsum nunc aliquam in. Nisi vehicula volutpat lacus elementum ut. Duis
                            venenatis
                            eget libero tortor nunc. Dolor id pulvinar in tellus ut bibendum varius nisl. Porttitor id
                            turpis
                            tortor
                            vel nisi. 
                            Egestas sed massa eu nulla mattis. Vitae tincidunt diam quis amet.
                        </p>
                        <p>
                            Pulvinar ut ut facilisi tellus. Ipsum purus diam porttitor fusce purus
                            duis. Mauris urna quisque nullam mattis. Scelerisque eget at
                            nulla id nisi aliquam sagittis ligula. Magnis pellentesque
                            nunc dapibus urna. Vivamus augue vitae amet
                            maecenas amet sit placerat et. Interdum aliquet
                            proin a sit euismod amet risus neque tortor.
                        </p>
                        <p>
                            Nulla facilisis in libero sapien lectus eu pharetra eget!

                            Egestas nunc habitant ipsum nunc aliquam in. Nisi vehicula volutpat lacus elementum ut. Duis
                            venenatis
                            eget libero tortor nunc. Dolor id pulvinar in tellus ut bibendum varius nisl. Porttitor id
                            turpis
                            tortor
                            vel nisi. 
                            Egestas sed massa eu nulla mattis. Vitae tincidunt diam quis amet.
                        </p>

                        <p>
                            Pulvinar ut ut facilisi tellus. Ipsum purus diam porttitor fusce purus
                            duis. Mauris urna quisque nullam mattis. Scelerisque eget at
                            nulla id nisi aliquam sagittis ligula. Magnis pellentesque
                            nunc dapibus urna. Vivamus augue vitae amet
                            maecenas amet sit placerat et. Interdum aliquet
                            proin a sit euismod amet risus neque tortor.
                        </p>
                        <p>
                            Nulla facilisis in libero sapien lectus eu pharetra eget!

                            Egestas nunc habitant ipsum nunc aliquam in. Nisi vehicula volutpat lacus elementum ut. Duis
                            venenatis
                            eget libero tortor nunc. Dolor id pulvinar in tellus ut bibendum varius nisl. Porttitor id
                            turpis
                            tortor
                            vel nisi. 
                            Egestas sed massa eu nulla mattis. Vitae tincidunt diam quis amet.
                        </p>

                        <p>
                            Pulvinar ut ut facilisi tellus. Ipsum purus diam porttitor fusce purus
                            duis. Mauris urna quisque nullam mattis. Scelerisque eget at
                            nulla id nisi aliquam sagittis ligula. Magnis pellentesque
                            nunc dapibus urna. Vivamus augue vitae amet
                            maecenas amet sit placerat et. Interdum aliquet
                            proin a sit euismod amet risus neque tortor.
                        </p>
                        <p>
                            Nulla facilisis in libero sapien lectus eu pharetra eget!

                            Egestas nunc habitant ipsum nunc aliquam in. Nisi vehicula volutpat lacus elementum ut. Duis
                            venenatis
                            eget libero tortor nunc. Dolor id pulvinar in tellus ut bibendum varius nisl. Porttitor id
                            turpis
                            tortor
                            vel nisi. 
                            Egestas sed massa eu nulla mattis. Vitae tincidunt diam quis amet.
                        </p>
                        <!-- <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Exclusão de conta
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the first item's accordion body.</strong> It is shown by
                                        default, until the collapse plugin adds the appropriate classes that we use to
                                        style each element. These classes control the overall appearance, as well as the
                                        showing and hiding via CSS transitions. You can modify any of this with custom
                                        CSS or overriding our default variables. It's also worth noting that just about
                                        any HTML can go within the <code>.accordion-body</code>, though the transition
                                        does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Como inserir anúncio ?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the second item's accordion body.</strong> It is hidden by
                                        default, until the collapse plugin adds the appropriate classes that we use to
                                        style each element. These classes control the overall appearance, as well as the
                                        showing and hiding via CSS transitions. You can modify any of this with custom
                                        CSS or overriding our default variables. It's also worth noting that just about
                                        any HTML can go within the <code>.accordion-body</code>, though the transition
                                        does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Por que usar a Show Class ?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>This is the third item's accordion body.</strong> It is hidden by
                                        default, until the collapse plugin adds the appropriate classes that we use to
                                        style each element. These classes control the overall appearance, as well as the
                                        showing and hiding via CSS transitions. You can modify any of this with custom
                                        CSS or overriding our default variables. It's also worth noting that just about
                                        any HTML can go within the <code>.accordion-body</code>, though the transition
                                        does limit overflow.
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="col-md-2">
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</section>