<!-- <h1>Sobre {{name}}</h1>
Olá mundo:)

<hr>
{{description}}
<br>
<br>
{{site}} -->
<style>
    /* .imglateral {
    width: 23%;
    position: absolute;
    right: 0;
    bottom: -98%;
} */
    img.imglateral {
        width: 550px;
        /* position: absolute; */
        right: 0;
        bottom: -98%;
    }

    .contornotexto {
        shape-outside: ellipse(399px 396px at 293% 50%);
        width: 137px;
        /* height: 500px; */
        float: right;
        opacity: 1;
    }

    @media (max-width:1680px) {
        .contornotexto {
            shape-outside: ellipse(399px 396px at 156% 50%);
            width: 257px;
            /* height: 500px; */
            float: right;
            opacity: 1;
        }
    }

    @media (max-width:1440px) {
        .contornotexto {
            shape-outside: ellipse(399px 396px at 109% 50%);
            width: 368px;
            /* height: 500px; */
            float: right;
            opacity: 1;
        }
    }
</style>
<div class="container-fluid p-0">
    <div class="banner about">

    </div>
</div>
<section class="about mt-5">
    <div class="container">
        <div class="row">
            <h1 class="titulosection">Política de Privacidade</h1>
            <div class="col-md-12">
                <p>

                </p>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                        <h2>&nbsp;</h2>

                        <p>Ol&aacute;! Neste espa&ccedil;o descreveremos as pr&aacute;ticas da ShowClass, em rela&ccedil;&atilde;o a dados pessoais coletados por meio do nosso
                            website:&nbsp;<a href="#">www.showclass.com.br</a>&nbsp;e&nbsp;tamb&eacute;m
                            por meio de aplicativos para dispositivos m&oacute;veis e servi&ccedil;os e ferramentas
                            associados, incluindo o Chat (&ldquo;Sites&rdquo;).</p>

                        <p>Na nossa Pol&iacute;tica de Privacidade explicamos quais dados pessoais de usu&aacute;rios
                            (&quot;Usu&aacute;rios&quot; ou &quot;voc&ecirc;&quot;) coletamos nos Sites e qual o
                            tratamento dado a estes dados.</p>

                        <p>Lembre-se que o uso dos Sites est&aacute; condicionado, ainda, aos Termos e
                            Condi&ccedil;&otilde;es de Uso que voc&ecirc; encontra&nbsp;<a
                                href="#">AQUI</a>&nbsp;e do
                            qual esta Pol&iacute;tica de Privacidade &eacute; parte integrante.</p>

                        <p>Use nosso &iacute;ndice para ir direto a qualquer assunto abordado nesse espa&ccedil;o:<br />
                            &nbsp;</p>

                        <ol start="1">
                            <li><a href="#ancora1"><strong>A
                                        que se aplica esta Pol&iacute;tica de Privacidade</strong></a></li>
                            <li><a href="#ancora2"><strong>Informa&ccedil;&otilde;es
                                        coletadas, recebidas e armazenadas</strong></a></li>
                            <li><a href="#ancora3"><strong>Uso
                                        da Informa&ccedil;&atilde;o</strong></a></li>
                            <li><a
                                    href="#ancora4"><strong>Monitoramento</strong></a>
                            </li>
                            <li><a href="#ancora5"><strong>Compartilhamento
                                        de Informa&ccedil;&atilde;o</strong></a></li>
                            <li><a href="#ancora6"><strong>Controle
                                        do Usu&aacute;rio</strong></a></li>
                            <li><a href="#ancora7"><strong>Responsabilidades
                                        dos Usu&aacute;rios</strong></a></li>
                            <li><a href="#ancora8"><strong>Direitos
                                        do Usu&aacute;rio</strong></a></li>
                            <li><a href="#ancora9"><strong>Dados
                                        de Crian&ccedil;as e Adolescentes</strong></a></li>
                            <li><a href="#ancora10"><strong>Intera&ccedil;&otilde;es
                                        Com Sites De Terceiros</strong></a></li>
                            <li><a href="#ancora12"><strong>T&eacute;rmino
                                        do Tratamento</strong></a></li>
                            <li><a href="#ancora12"><strong>Altera&ccedil;&atilde;o
                                        na Pol&iacute;tica de Privacidade</strong></a></li>
                            <li><a href="#ancora13">Identifica&ccedil;&atilde;o
                                    do Controlador e do Encarregado de Prote&ccedil;&atilde;o de<br />
                                    Dados</a></li>
                        </ol>

                        <p>&nbsp;</p>

                        <p id="ancora1"><strong>1.</strong>&nbsp;&nbsp;<strong>A que se aplica esta Pol&iacute;tica de
                                Privacidade</strong></p>

                        <p><strong>1.1.</strong>&nbsp;<strong>Aplica&ccedil;&atilde;o.</strong>&nbsp;Nossa
                            Pol&iacute;tica de Privacidade aplica aos dados fornecidos por voc&ecirc; e coletados quando
                            voc&ecirc; cria uma conta, publica an&uacute;ncios, troca mensagens, navega ou faz qualquer
                            uso dos Sites.&nbsp;</p>

                        <p><strong>1.2.</strong>&nbsp;<strong>N&atilde;o Aplica&ccedil;&atilde;o.</strong>&nbsp;Esta
                            Pol&iacute;tica de Privacidade n&atilde;o se aplica para sites de terceiros, ainda que
                            voc&ecirc; os acesse por links contidos nos Sites.&nbsp;A ShowClass N&Atilde;O SE RESPONSABILIZA
                            POR ESTES SITES E CONTE&Uacute;DOS E, AINDA, N&Atilde;O COMPARTILHA, SUBSCREVE, MONITORA,
                            VALIDA OU ACEITA A FORMA COMO ESSES SITES OU FERRAMENTAS DE ARMAZENAMENTO DE CONTE&Uacute;DO
                            COLETAM, PROCESSAM E TRANSFEREM SUAS INFORMA&Ccedil;&Otilde;ES PESSOAIS. Recomendamos que
                            voc&ecirc; consulte as respectivas pol&iacute;ticas de privacidade para se informar
                            adequadamente a respeito do uso de suas informa&ccedil;&otilde;es pessoais por outros sites
                            ou outras ferramentas.<br />
                            &nbsp;&nbsp;<strong>2.</strong>&nbsp;<strong>Informa&ccedil;&otilde;es coletadas, recebidas
                                e armazenadas</strong></p>

                        <p>As seguintes informa&ccedil;&otilde;es s&atilde;o coletadas, recebidas e armazenadas pela
                            ShowClass:<br />
                            &nbsp;</p>

                        <p><strong>a) Informa&ccedil;&otilde;es da conta.</strong>&nbsp;Quando voc&ecirc; cria uma conta
                            na ShowClass ou interage de qualquer outra forma nos Sites, n&oacute;s coletamos algumas
                            informa&ccedil;&otilde;es, como o seu nome, endere&ccedil;o de e-mail, senha, n&uacute;mero
                            de telefone, n&uacute;mero de CPF, documento de
                            identifica&ccedil;&atilde;o,&nbsp;informa&ccedil;&otilde;es financeiras, fotos e
                            movimenta&ccedil;&otilde;es transacionais dentro das nossas plataformas;</p>

                        <p><strong>b) Servi&ccedil;os de autentica&ccedil;&atilde;o.</strong>&nbsp;Se voc&ecirc; optar
                            por fazer login nos Sites por meio de um servi&ccedil;o de autentica&ccedil;&atilde;o de
                            terceiros, como o Facebook Connect, a ShowClass tamb&eacute;m pode receber e armazenar
                            informa&ccedil;&otilde;es adicionais do seu perfil ou outras informa&ccedil;&otilde;es
                            autorizadas pelo fornecedor deste servi&ccedil;o;</p>

                        <p><strong>c) Informa&ccedil;&otilde;es de an&uacute;ncios.</strong>&nbsp;Quando voc&ecirc;
                            publica no site da ShowClass, al&eacute;m das<br />
                            informa&ccedil;&otilde;es do produto anunciado, ser&atilde;o divulgadas algumas
                            informa&ccedil;&otilde;es do<br />
                            seu perfil, como seu nome, telefone, data do seu &uacute;ltimo acesso ao Site, a data<br />
                            de cria&ccedil;&atilde;o do seu perfil no Site e um link para acesso aos seus outros
                            an&uacute;ncios.<br />
                            Note que suas publica&ccedil;&otilde;es ficam acess&iacute;veis a terceiros, podendo ser
                            listadas como resultados de ferramentas de pesquisa, inclusive no cache destas ferramentas
                            de pesquisa, em feeds e outros websites por acordos entre estes e a ShowClass. Voc&ecirc;
                            reconhece que a ShowClass n&atilde;o tem inger&ecirc;ncia sobre os sites de terceiros e suas
                            indexa&ccedil;&otilde;es;</p>

                        <p><strong>d)</strong>&nbsp;<strong>Jogos, publicidade e
                                promo&ccedil;&otilde;es.</strong>&nbsp;A ShowClass pode coletar suas informa&ccedil;&otilde;es
                            pessoais quando voc&ecirc; participa de jogos, quizzes e outras a&ccedil;&otilde;es de
                            marketing promovidas por n&oacute;s nos Sites&nbsp;e em sites de terceiros. Essas
                            informa&ccedil;&otilde;es incluem acessos a visualiza&ccedil;&atilde;o de an&uacute;ncios
                            nos Sites ou em sites terceiros;</p>

                        <p><strong>e) Atendimento ao cliente.</strong>&nbsp;Caso voc&ecirc; precise entrar em contato
                            com o nosso departamento de atendimento ao cliente, a ShowClass pode coletar as
                            informa&ccedil;&otilde;es pessoais necess&aacute;rias para atender&nbsp;seu pedido e
                            contat&aacute;-lo,&nbsp;bem como&nbsp;informa&ccedil;&otilde;es sobre suas
                            comunica&ccedil;&otilde;es com a ShowClass;<br />
                            <strong>f)&nbsp;Endere&ccedil;os IP, cookies e identificadores.</strong>&nbsp;Seu
                            endere&ccedil;o IP e outros dados<br />
                            relativos &agrave; sua conex&atilde;o poder&atilde;o ser utilizados para personalizar os
                            nossos<br />
                            servi&ccedil;os e ajudar a compreender como os Usu&aacute;rios utilizam os Sites. A
                            ShowClass&nbsp;pode bloquear o acesso ao Site de Usu&aacute;rios alocados em alguns pa&iacute;ses,
                            identificados de acordo com o IP. Al&eacute;m disso, a ShowClass pode coletar
                            informa&ccedil;&otilde;es que poder&atilde;o ser utilizadas nos Sites por meio de
                            tecnologias como&nbsp;<em>tags, cookies, pixels</em>, armazenamento local, e ferramenta para
                            coleta de informa&ccedil;&otilde;es a respeito de liga&ccedil;&otilde;es telef&ocirc;nicas
                            originadas dos links do Site, independentemente de cadastro do Usu&aacute;rio.
                        </p>

                        <p><strong>g) Informa&ccedil;&otilde;es coletadas automaticamente.</strong>&nbsp;Quando
                            voc&ecirc; acessa os Sites ou servi&ccedil;os de terceiros, a ShowClass pode receber e registrar
                            informa&ccedil;&otilde;es de seu navegador ou dispositivo&nbsp;em nossos servidores, como
                            por exemplo&nbsp;Identificador de Publicidade do Android, do iOS ou de outros sistemas
                            operacionais an&aacute;logos, bem como dados de localiza&ccedil;&atilde;o recebidos a partir
                            dos sensores do dispositivo. Al&eacute;m desses dados, tamb&eacute;m podemos coletar de
                            dados sobre publicidade no dispositivo, incluindo cliques efetuados a partir dele,
                            impress&otilde;es e tempo de perman&ecirc;ncia em publicidade. Cumprindo os requisitos de
                            transpar&ecirc;ncia, detalhamos abaixo os dados do seu dispositivo que podem ser coletados
                            se voc&ecirc; se utiliza de um dos nossos apps:</p>

                        <ol start="1">
                            <li>
                                <p>(i)&nbsp;Identificadores an&ocirc;nimos de publicidade do dispositivo, atributos do
                                    dispositivo m&oacute;vel e aplicativos instalados no respectivo aparelho;</p>
                            </li>
                            <li>
                                <p>(ii) Dados dos sensores do aparelho;</p>
                            </li>
                            <li>
                                <p>(iii) Dados anonimizados&nbsp;de localiza&ccedil;&atilde;o do aparelho por meio de
                                    GPS ou rede celular.</p>
                            </li>
                        </ol>

                        <p>Note que a ShowClass pode permitir que terceiros, tais como prestadores de servi&ccedil;o de
                            publicidade e estat&iacute;stica, coletem quaisquer das informa&ccedil;&otilde;es
                            especificadas neste item, utilizando esse tipo de tecnologia diretamente nos sites da
                            empresa. Para acessar a lista de terceiros em nosso site,&nbsp;<a
                                href="#">CLIQUE&nbsp;AQUI</a>.</p>

                        <p><strong>h) Chat.</strong>&nbsp;As comunica&ccedil;&otilde;es realizadas por meio do nosso
                            Chat n&atilde;o t&ecirc;m car&aacute;ter privado e as mensagens s&atilde;o armazenadas nos
                            servidores da ShowClass;</p>

                        <p><strong>i)&nbsp;Chamadas telef&ocirc;nicas.</strong>&nbsp;Poder&atilde;o ser coletados data,
                            hora, dura&ccedil;&atilde;o,<br />
                            originador e &aacute;udio das liga&ccedil;&otilde;es realizadas por meio de acionamento do
                            link de<br />
                            chamadas telef&ocirc;nicas dispon&iacute;vel nos an&uacute;ncios do Site pelos
                            Usu&aacute;rios.<br />
                            <strong>j) Informa&ccedil;&otilde;es de entidades de prote&ccedil;&atilde;o ao
                                cr&eacute;dito.</strong>&nbsp;Podemos receber e<br />
                            armazenar outras informa&ccedil;&otilde;es a seu respeito, tais como as
                            informa&ccedil;&otilde;es<br />
                            mantidas por entidades de apoio ao cr&eacute;dito, ou informa&ccedil;&otilde;es
                            publicamente<br />
                            dispon&iacute;veis, para fins de an&aacute;lise de cr&eacute;dito e preven&ccedil;&atilde;o
                            a fraudes.<br />
                            &nbsp; &nbsp;&nbsp;<strong>3.</strong>&nbsp;<strong>Uso da Informa&ccedil;&atilde;o</strong>
                        </p>

                        <p>As informa&ccedil;&otilde;es s&atilde;o coletadas pela ShowClass conforme previsto nesta
                            Pol&iacute;tica de Privacidade com o objetivo de prestar o servi&ccedil;o de forma adequada.
                            Estas informa&ccedil;&otilde;es s&atilde;o fundamentais para:</p>

                        <p><strong>a)</strong>&nbsp;Criar e gerenciar contas que voc&ecirc; possa ter conosco, verificar
                            sua identidade, prestar nossos servi&ccedil;os por meio dos Sites,, resolver dificuldades
                            t&eacute;cnicas e habilitar ou desabilitar funcionalidades;</p>

                        <p><strong>b)</strong>&nbsp;Customizar ofertas e experi&ecirc;ncias&nbsp;no Site, tornando sua
                            experi&ecirc;ncia conosco o mais personalizada poss&iacute;vel, dentro do&nbsp;que permite a
                            legisla&ccedil;&atilde;o aplic&aacute;vel;</p>

                        <p><strong>c)</strong>&nbsp;Entrar em contato com o Usu&aacute;rio, incluindo sobre assuntos
                            relacionados ao servi&ccedil;o, atendimento ao cliente ou comunica&ccedil;&otilde;es de
                            marketing;</p>

                        <p><strong>d)</strong>&nbsp;Realizar opera&ccedil;&otilde;es internas, incluindo suporte aos
                            nossos clientes, solu&ccedil;&atilde;o<br />
                            de problemas, an&aacute;lise de&nbsp;dados, testes, pesquisas e estat&iacute;stica, a fim de
                            melhorar os nossos servi&ccedil;os;</p>

                        <p><strong>e)</strong>&nbsp;Fazer valer os Termos de Uso da ShowClass, incluindo o combate &agrave;
                            fraude e a quaisquer il&iacute;citos, e, conforme estabelecer, exercer e defender
                            direitos;<br />
                            <strong>f)</strong>&nbsp;Conforme exigido pelas leis e regulamentos aplic&aacute;veis;
                            e<br />
                            <strong>g)</strong>&nbsp;Para outras finalidades as quais fornecemos um aviso
                            espec&iacute;fico no momento da coleta, ou, de outro modo, conforme autorizado ou exigido
                            por lei.<br />
                            &nbsp;&nbsp;<strong>4.</strong>&nbsp;<strong>Monitoramento</strong>
                        </p>

                        <p>A ShowClass pode utilizar ferramentas automatizadas de an&aacute;lise do Chat para diversas
                            finalidades, com o objetivo de aperfei&ccedil;oar os Sites e a ferramenta. Dentre tais
                            finalidades, as ferramentas podem ser utilizadas para identificar, entre as mensagens
                            trocadas entre voc&ecirc; e outros Usu&aacute;rios no Chat, eventuais
                            informa&ccedil;&otilde;es que possam violar ou trazer suspeitas de viola&ccedil;&atilde;o
                            aos Termos de Uso ou &agrave; legisla&ccedil;&atilde;o vigente.</p>

                        <p>Para tanto, ser&aacute; facultando o acesso humano &agrave;s mensagens, restrito &agrave;s
                            hip&oacute;teses estritamente necess&aacute;rias para oferecer a funcionalidade e melhor a
                            experi&ecirc;ncia do Usu&aacute;rio da plataforma e sempre de acordo com os Termos de Uso
                            aplic&aacute;veis e a legisla&ccedil;&atilde;o vigente. A ShowClass poder&aacute; fornecer
                            c&oacute;pia das mensagens &agrave;s autoridades competentes, independente de
                            comunica&ccedil;&atilde;o aos Usu&aacute;rios, para fins de coopera&ccedil;&atilde;o em
                            investiga&ccedil;&otilde;es, inqu&eacute;ritos, processos judiciais ou administrativos. Em
                            caso de den&uacute;ncias de condutas suas em viola&ccedil;&atilde;o ou com ind&iacute;cios
                            de viola&ccedil;&atilde;o aos Termos de Uso &agrave; legisla&ccedil;&atilde;o por outro
                            Uus&aacute;rio (&quot;Denunciante&quot;) que estiver trocando mensagens com voc&ecirc;, o
                            Denunciante poder&aacute;, voluntariamente, divulgar referida comunica&ccedil;&atilde;o
                            &agrave; ShowClass. Sempre que uma das partes da conversa solicitar o hist&oacute;rico do
                            di&aacute;logo, a ShowClass poder&aacute; divulgar tais informa&ccedil;&otilde;es.<br />
                            &nbsp;&nbsp;<strong>5.</strong>&nbsp;<strong>Compartilhamento de
                                Informa&ccedil;&atilde;o</strong></p>

                        <p>A ShowClass poder&aacute; compartilhar suas informa&ccedil;&otilde;es pessoais com outras empresas
                            do seu grupo econ&ocirc;mico, com outros Usu&aacute;rios, parceiros de neg&oacute;cio e
                            prestadores de servi&ccedil;os, que sejam relevantes para fins de viabilizar a
                            presta&ccedil;&atilde;o dos servi&ccedil;os. Referido compartilhamento ocorre com base nos
                            seguintes crit&eacute;rios e para as finalidades descritas abaixo:</p>

                        <p><strong>a) Empresas do Grupo ShowClass:</strong>&nbsp;podemos compartilhar as suas
                            informa&ccedil;&otilde;es com nossas afiliadas ou entidades que oferecem os servi&ccedil;os
                            conjuntamente conosco, em qualquer pa&iacute;s, que poder&atilde;o tratar estas
                            informa&ccedil;&otilde;es para nos auxiliar nos prop&oacute;sitos descritos acima, atuando
                            sob esta Pol&iacute;tica de Privacidade;</p>

                        <p><strong>b) Transfer&ecirc;ncia de Ativos:</strong>&nbsp;Caso a ShowClass, ou uma divis&atilde;o da
                            ShowClass, seja reorganizada ou vendida e sejam transferidos todos ou substancialmente todos os
                            ativos a um novo propriet&aacute;rio, sua informa&ccedil;&atilde;o pessoal pode ser
                            transferida ao comprador independentemente de sua autoriza&ccedil;&atilde;o para garantir a
                            continuidade dos servi&ccedil;os;</p>

                        <p><strong>c) Outros Usu&aacute;rios:</strong>&nbsp;compartilhamento dos dados que sejam
                            informados por um Usu&aacute;rio interessado em um an&uacute;ncio com o Usu&aacute;rio
                            anunciante, para a finalidade de promover a intera&ccedil;&atilde;o entre as partes
                            &nbsp;(por exemplo, um Usu&aacute;rio interessado poder&aacute; ver o telefone de contato do
                            Usu&aacute;rio anunciante caso o Usu&aacute;rio anunciante tenha optado por deixar seu
                            telefone de contato vis&iacute;vel);</p>

                        <p><strong>d) Prestadores de servi&ccedil;o terceirizados:</strong>&nbsp;Trabalhamos com
                            prestadores de servi&ccedil;o terceirizados para nos ajudar a operar, executar, aprimorar,
                            entender, personalizar, dar suporte e anunciar nossos servi&ccedil;os. Quando compartilhamos
                            dados com prestadores de servi&ccedil;o terceirizados, exigimos que eles utilizem seus dados
                            de acordo com nossas instru&ccedil;&otilde;es e termos ou mediante seu consentimento
                            expresso, quando aplic&aacute;vel;</p>

                        <p><strong>e)&nbsp;Aprimoramento dos Sites:</strong>&nbsp;A ShowClass poder&aacute; compartilhar dados
                            que n&atilde;o identificam nossos Usu&aacute;rios individualmente com terceiros prestadores
                            de servi&ccedil;os, parceiros de confian&ccedil;a ou pesquisadores aprovados, no intuito de
                            melhor compreender quais publicidades e servi&ccedil;os podem interess&aacute;-lo, para
                            melhorar a qualidade e a efetividade geral dos nossos servi&ccedil;os ou servi&ccedil;o
                            deles, ou para contribuir em pesquisas acad&ecirc;micas. Os dados oriundos da ferramenta
                            para identifica&ccedil;&atilde;o de informa&ccedil;&otilde;es relativas a chamadas
                            telef&ocirc;nicas originadas dos links do Site ser&atilde;o limitados ao conte&uacute;do
                            transcrito da grava&ccedil;&atilde;o, bem como caracter&iacute;sticas do &aacute;udio
                            identificado para fins exclusivos de&nbsp;<em>machine learning</em>, sem acesso direto pela
                            ShowClass ou pelo terceiro.</p>

                        <p><strong>f)&nbsp;&Oacute;rg&atilde;os reguladores, autoridades judiciais ou administrativas e
                                entidades de prote&ccedil;&atilde;o ao cr&eacute;dito:</strong>&nbsp;podemos
                            compartilhar as suas informa&ccedil;&otilde;es pessoais para prestar &agrave;s autoridades
                            competentes todas as informa&ccedil;&otilde;es que forem solicitadas com
                            rela&ccedil;&atilde;o ao Usu&aacute;rio e opera&ccedil;&otilde;es por ele executadas nos
                            Sites. Ademais, podemos compartilhar as suas informa&ccedil;&otilde;es pessoais com
                            autoridades p&uacute;blicas ou entidades privadas para combate &agrave; fraude e abuso na
                            rede da ShowClass, para investiga&ccedil;&atilde;o de suspeitas de viola&ccedil;&atilde;o da lei,
                            ou para combater qualquer outra suspeita de descumprimento dos nossos Termos de Uso ou da
                            lei;</p>

                        <p><strong>g) Com a sua autoriza&ccedil;&atilde;o:</strong>&nbsp;Em outros casos n&atilde;o
                            previstos acima, havendo o objetivo de compartilhamento dos dados pessoais e
                            informa&ccedil;&otilde;es, enviaremos voc&ecirc; uma notifica&ccedil;&atilde;o com
                            informa&ccedil;&otilde;es a respeito de tal compartilhamento para solicitar o seu
                            consentimento, para finalidade determinada.</p>

                        <p>&nbsp;&nbsp;<strong>6.</strong>&nbsp;<strong>Controle do Usu&aacute;rio</strong><br />
                            &nbsp;</p>

                        <p>O Usu&aacute;rio tem a liberdade de escolher quais informa&ccedil;&otilde;es quer fornecer
                            para a ShowClass, entretanto, algumas delas s&atilde;o essenciais para a presta&ccedil;&atilde;o
                            dos Servi&ccedil;os.</p>

                        <p><strong>6.1.&nbsp;Acesso, corre&ccedil;&atilde;o e exclus&atilde;o</strong>. &Eacute;
                            poss&iacute;vel corrigir ou excluir qualquer informa&ccedil;&atilde;o fornecida ao criar uma
                            conta ou an&uacute;ncio, enviando um e-mail para o&nbsp;<a
                                href="#">canal de atendimento</a>&nbsp;ou acessando
                            o menu &quot;Minha Conta&quot; no Site. O e-mail informado n&atilde;o pode ser alterado,
                            sendo permitido cadastrar apenas um e-mail para cada conta. Se sua conta foi criada por meio
                            de provedor de identidade (p. ex. Facebook Connect), voc&ecirc; pode tamb&eacute;m
                            desabilitar ou trocar a informa&ccedil;&atilde;o da conta por meio das
                            configura&ccedil;&otilde;es oferecidas por este provedor de identidade (p. ex. no
                            site&nbsp;<a href="https://www.facebook.com/">facebook.com</a>).</p>

                        <p><strong>6.2.&nbsp;Escolha de terceiros.</strong>&nbsp;&Eacute; poss&iacute;vel desabilitar
                            seus an&uacute;ncios e usar informa&ccedil;&otilde;es para publicidade dirigida baseada em
                            interesses. Voc&ecirc; pode visitar os sites&nbsp;<a
                                href="http://www.youronlinechoices.com/">http://www.youronlinechoices.com</a>&nbsp;e&nbsp;<a
                                href="http://www.networkadvertising.org/">http://www.networkadvertising.org</a>&nbsp;para
                            aprender mais e escolher sobre como esse tipo de informa&ccedil;&atilde;o pode ser coletada
                            e utilizada.</p>

                        <p><strong>6.3.&nbsp;Cookies.</strong>&nbsp;&Eacute; poss&iacute;vel desabilitar os cookies do
                            seu navegador, mas &eacute; importante que voc&ecirc; saiba que, se o fizer, poder&aacute;
                            haver uma piora na funcionalidade de algumas ferramentas.</p>

                        <p><strong>6.4.&nbsp;Coleta de bloco de dados.</strong>&nbsp;Caso voc&ecirc; deseje limitar as
                            informa&ccedil;&otilde;es que a ShowClass coleta e armazena, voc&ecirc; deve acessar a
                            se&ccedil;&atilde;o &#39;Minha Conta&#39; do Site e editar as informa&ccedil;&otilde;es
                            fornecidas. Algumas informa&ccedil;&otilde;es s&atilde;o necess&aacute;rias e
                            obrigat&oacute;rias para viabilizar a utiliza&ccedil;&atilde;o do Site e que, ao excluir ou
                            bloquear certas informa&ccedil;&otilde;es, seu uso dos Sites e Servi&ccedil;os pode ter uma
                            queda da funcionalidade.<br />
                            &nbsp;&nbsp;<strong>7.</strong>&nbsp;<strong>Responsabilidades do Usu&aacute;rio</strong>
                        </p>

                        <p><strong>7.1.&nbsp;Informa&ccedil;&otilde;es em An&uacute;ncios.</strong>&nbsp;Qualquer
                            informa&ccedil;&atilde;o que os Usu&aacute;rios compartilharem em an&uacute;ncios &eacute;
                            de sua pr&oacute;pria responsabilidade. Os Usu&aacute;rios devem considerar com cautela os
                            riscos de deixar certas informa&ccedil;&otilde;es - especialmente informa&ccedil;&otilde;es
                            pessoais, tais como endere&ccedil;o preciso - publicamente dispon&iacute;veis em um
                            an&uacute;ncio. Recomendamos que Voc&ecirc; leia nossas dicas e procure sempre a
                            nossa&nbsp;<a href="#">Central de Ajuda</a>&nbsp;caso enfrente
                            qualquer dificuldade ou tenha d&uacute;vidas sobre como proceder e fazer neg&oacute;cios.
                        </p>

                        <p><strong>7.2.&nbsp;Informa&ccedil;&otilde;es Publicadas</strong>. Qualquer
                            informa&ccedil;&atilde;o que Usu&aacute;rios disponibilizarem em perfis publicamente
                            dispon&iacute;veis ou no Chat (se o Usu&aacute;rio decidir usar este servi&ccedil;o)
                            &eacute; de Sua pr&oacute;pria responsabilidade. Voc&ecirc; deve cuidadosamente considerar
                            os riscos de fazer certas declara&ccedil;&otilde;es ou publicar informa&ccedil;&otilde;es
                            pessoais - especialmente informa&ccedil;&otilde;es como endere&ccedil;o ou
                            localiza&ccedil;&atilde;o precisa. Um Usu&aacute;rio pode copiar/fotografar suas mensagens e
                            circular entre outros Usu&aacute;rios ou fora dos Sites. A ShowClass n&atilde;o tem
                            responsabilidade por mensagens ou atos de terceiros que ocorram em decorr&ecirc;ncia da
                            informa&ccedil;&atilde;o que voc&ecirc; tornou publicamente dispon&iacute;vel a terceiro ou
                            que voc&ecirc; compartilhou com qualquer pessoa ou com outro Usu&aacute;rio.<br />
                            &nbsp;&nbsp;<strong>8.</strong>&nbsp;<strong>Direitos do Usu&aacute;rio</strong><br />
                            &nbsp;</p>

                        <p>Os Usu&aacute;rios possuem alguns direitos no que se refere aos seus dados pessoais e podem
                            exerc&ecirc;-los entrando em contato conosco enviando um e-mail para o&nbsp;<a
                                href="#">canal de atendimento</a>. Tais direitos
                            s&atilde;o:<br />
                            &nbsp;</p>

                        <p><strong>a) Confirma&ccedil;&atilde;o da exist&ecirc;ncia de tratamento de dados
                                pessoais:</strong>&nbsp;Mediante requisi&ccedil;&atilde;o do Usu&aacute;rio, a ShowClass
                            conceder&aacute; a confirma&ccedil;&atilde;o da exist&ecirc;ncia de tratamento de dados
                            pessoais, nos termos da legisla&ccedil;&atilde;o aplic&aacute;vel;</p>

                        <p><strong>b) Acesso aos dados pessoais:</strong>&nbsp;O Usu&aacute;rio pode requisitar acesso
                            aos seus dados pessoais coletados e que estejam armazenados pela ShowClass;</p>

                        <p><strong>c) Corre&ccedil;&atilde;o de dados incompletos, inexatos ou
                                desatualizados:</strong>&nbsp;O Usu&aacute;rio poder&aacute;, a qualquer momento,
                            alterar e editar os seus dados pessoais, fazendo o login da sua conta;</p>

                        <p><strong>d) Portabilidade dos dados:</strong>&nbsp;O Usu&aacute;rio poder&aacute;, mediante
                            requisi&ccedil;&atilde;o expressa, solicitar a portabilidade de seus dados a outro
                            fornecedor de servi&ccedil;o ou produto. Em algumas ocasi&otilde;es a portabilidade
                            poder&aacute; n&atilde;o ser efetuada em virtude da garantia de segredos comerciais ou
                            industriais;</p>

                        <p><strong>e) Exclus&atilde;o de dados:</strong>&nbsp;O Usu&aacute;rio poder&aacute;, a qualquer
                            momento, solicitar a anonimiza&ccedil;&atilde;o, bloqueio ou elimina&ccedil;&atilde;o de
                            dados desnecess&aacute;rios, excessivos ou tratados em desconformidade com a
                            legisla&ccedil;&atilde;o aplic&aacute;vel;</p>

                        <p><strong>f) Informa&ccedil;&otilde;es sobre uso compartilhado de dados:</strong>&nbsp;Essa
                            Pol&iacute;tica de Privacidade descreve as atividades de compartilhamento de dados pessoais
                            pela ShowClass. Para receber mais informa&ccedil;&otilde;es sobre como compartilhamos os seus
                            dados entre em contato conosco.</p>

                        <p><strong>g) Revoga&ccedil;&atilde;o do consentimento:</strong>&nbsp;Quando solicitarmos o seu
                            consentimento, o Usu&aacute;rio poder&aacute; revog&aacute;-lo, a qualquer momento, mediante
                            manifesta&ccedil;&atilde;o gratuita e facilitada. O Usu&aacute;rio reconhece que todos os
                            tratamentos realizados anteriormente &agrave; revoga&ccedil;&atilde;o do consentimento
                            s&atilde;o ratificados e que o pedido de revoga&ccedil;&atilde;o n&atilde;o implicar&aacute;
                            na elimina&ccedil;&atilde;o dos dados pessoais anteriormente tratados e que sejam mantidos
                            pela ShowClass com base em outros fundamentos legais.</p>

                        <p>&nbsp;&nbsp;<strong>9.</strong>&nbsp;<strong>Dados de Crian&ccedil;as e Adolescentes</strong>
                        </p>

                        <p>A ShowClass n&atilde;o coleta ou armazena intencionalmente dados ou informa&ccedil;&otilde;es
                            pessoais de crian&ccedil;as ou adolescentes menores de 18 (dezoito) anos. Mediante
                            notifica&ccedil;&atilde;o ou descoberta, a ShowClass empreender&aacute; todos os esfor&ccedil;os
                            razo&aacute;veis para apagar ou destruir qualquer informa&ccedil;&atilde;o pessoal que possa
                            ter sido coletada ou armazenada sem nosso conhecimento ou consentimento.</p>

                        <p>&nbsp;</p>

                        <p><strong>10.</strong>&nbsp;<strong>Intera&ccedil;&otilde;es Com Sites De Terceiros</strong>
                        </p>

                        <p>Podemos disponibilizar links para outros sites na Internet. A ShowClass N&Atilde;O SE
                            RESPONSABILIZA POR ESTES SITES E CONTE&Uacute;DOS E, AINDA, N&Atilde;O COMPARTILHA,
                            SUBSCREVE, MONITORA OU VALIDA A FORMA COMO ESSES SITES OU FERRAMENTAS DE ARMAZENAMENTO DE
                            CONTE&Uacute;DO COLETAM, PROCESSAM E TRANSFEREM SUAS INFORMA&Ccedil;&Otilde;ES PESSOAIS E
                            PRIVADAS. Recomendamos que voc&ecirc; consulte as respectivas pol&iacute;ticas de
                            privacidade de tais sites para se informar adequadamente a respeito do uso de suas
                            informa&ccedil;&otilde;es pessoais por outros sites ou outras ferramentas.</p>

                        <p>&nbsp;</p>

                        <p><strong>11.</strong>&nbsp;<strong>T&eacute;rmino do Tratamento</strong></p>

                        <p>Esta Pol&iacute;tica de Privacidade se aplica &agrave;s circunst&acirc;ncias acima
                            mencionadas durante todo o per&iacute;odo em que a ShowClass armazenar os seus dados. Armazenamos
                            e mantemos suas informa&ccedil;&otilde;es: (i) pelo tempo exigido por lei; (ii) at&eacute; o
                            t&eacute;rmino do tratamento de dados pessoais, conforme mencionado abaixo; ou (iii) pelo
                            tempo necess&aacute;rio a preservar o leg&iacute;timo interesse da ShowClass. Assim, trataremos
                            seus dados, por exemplo, durante os prazos prescricionais aplic&aacute;veis ou enquanto
                            necess&aacute;rio para cumprimento de obriga&ccedil;&atilde;o legal ou regulat&oacute;ria.
                            Durante todo este per&iacute;odo, aplica-se esta Pol&iacute;tica.&nbsp;</p>

                        <p>O t&eacute;rmino do tratamento de dados pessoais ocorrer&aacute; nos seguintes casos: (i)
                            quando a finalidade para qual o dado pessoal foi coletado for alcan&ccedil;ada, e/ou os
                            dados pessoais coletados deixarem de ser necess&aacute;rios ou pertinentes ao alcance de tal
                            finalidade; (ii) quando o Usu&aacute;rio solicitar a exclus&atilde;o de seus dados; e (iii)
                            quando houver uma determina&ccedil;&atilde;o legal neste sentido.</p>

                        <p>Nos casos de t&eacute;rmino de tratamento de dados pessoais, ressalvadas as hip&oacute;teses
                            estabelecidas pela legisla&ccedil;&atilde;o aplic&aacute;vel ou pela presente
                            Pol&iacute;tica de Privacidade, os dados pessoais ser&atilde;o eliminados e esta
                            Pol&iacute;tica n&atilde;o ser&aacute; mais aplic&aacute;vel ao seu relacionamento com a
                            ShowClass.</p>

                        <p>&nbsp;</p>

                        <p><strong>12.</strong>&nbsp;<strong>Altera&ccedil;&atilde;o na Pol&iacute;tica de
                                Privacidade</strong></p>

                        <p>Com a constante evolu&ccedil;&atilde;o do modelo de neg&oacute;cio, a ShowClass reserva-se o
                            direito de alterar esta pol&iacute;tica de privacidade a qualquer momento, mediante
                            publica&ccedil;&atilde;o da vers&atilde;o atualizada nos Sites. Caso exista uma
                            altera&ccedil;&atilde;o material no tratamento dos dados pessoais, voc&ecirc; ser&aacute;
                            informado e ter&aacute; a oportunidade de analisar a pol&iacute;tica revisada antes de
                            decidir continuar usando nossos servi&ccedil;os.</p>

                        <p>&nbsp;</p>

                        <p><strong>13.</strong>&nbsp;<strong>Identifica&ccedil;&atilde;o do Controlador e do Encarregado
                                de Prote&ccedil;&atilde;o de Dados</strong></p>

                        <p>A Bom Neg&oacute;cio Atividades de Internet Ltda. (&ldquo;ShowClass&rdquo;), empresa inscrita no
                            CNPJ/MF sob o n&uacute;mero 13.673.743/0002-55, com sede na Rua do Catete, 359, Flamengo -
                            22220-001 - Rio de Janeiro, RJ, &eacute; a empresa controladora dos dados pessoais coletados
                            dos Usu&aacute;rios no &acirc;mbito desta Pol&iacute;tica de Privacidade.&nbsp;</p>

                        <p>O encarregado/a pelo tratamento de dados pessoais da ShowClass (&ldquo;Encarregado&rdquo;) pode ser
                            contatado de forma direta por aqui (privacidade@olxbr.com)- este &eacute; um canal exclusivo
                            para contato sobre quest&otilde;es espec&iacute;ficas sobre seus dados e esta
                            Pol&iacute;tica.&nbsp;</p>

                        </p>
                    </div>
                    <!-- <div class="col-md-2">
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</section>