<li class="nav-item dropdown hidemobile">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
        <img class="iconuser" src="{{URL}}/resources/view/pages/assets/images/userpng.png">
        {{nome}}
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{URL}}/account">Minha conta</a></li>
        <li><a class="dropdown-item" href="{{URL}}/account/#perfil">Perfil</a></li>
        <li><a class="dropdown-item" href="{{URL}}/account/#anuncios">Anuncios</a></li>
        <li><a class="dropdown-item" href="{{URL}}/account/#stories">Stories</a></li>
        <li><a class="dropdown-item" href="{{URL}}/account/#vendas">Minhas Vendas</a></li>
        <li><a class="dropdown-item" href="{{URL}}/account/#meuplano">Meu plano</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/account/logout">Sair</a></li>
    </ul>
</li>

<a class="nav-link hidedesk" href="#" role="button" aria-expanded="false">

    Olá, {{nome}}
</a>
