{{menu}}
<style>
    /* .page {
        background: #eef2f4 url(https://discoveryassessoria.bitrix24.com.br/bitrix/templates/bitrix24/themes/light/dark-silk/dark-silk.jpg) 0 0 repeat;
    }

    .page-title {
        color: #fff;
    }

    .card {
        border-radius: 15px;
    }

    aside.navbar.navbar-vertical.navbar-expand-lg {
        background: transparent;
    } */
    li.nav-item.logout {
        position: fixed;
        bottom: 0%;
    }

    button.btn.btn-warning {
        background-color: #180c47 !important;
    }
</style>
<div class="page-wrapper">
    {{content}}
</div>