<style>
    .input-group {
        display: flex;
        justify-content: space-between;
    }

    .input-group input {
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: calc((100% / 6) - 10px);
        background: #FAFAFA;
        border: 1px solid #F2F2F2;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
</style>
<div class="d-flex justify-content-center login">

    <div class="card mt-5 text-center cardlogin" style="width: 500px;">

        <div class="card-body">

            <img src="{{URL}}/resources/view/account/assets/images/nova-logo.png" class="img-responsive" width="64px">

            <h2 class="titlelogin">Valide seu e-mail</h2>

            <p>Insira o código que enviamos para o seu e-mail</p>

            {{status}}

            <form method="post">

                <div class="input-group">
                    <input type="text" maxlength="1" size="1" name="code1" id="code1" required>
                    <input type="text" maxlength="1" size="1" name="code2" id="code2" required>
                    <input type="text" maxlength="1" size="1" name="code3" id="code3" required>
                    <input type="text" maxlength="1" size="1" name="code4" id="code4" required>
                    <input type="text" maxlength="1" size="1" name="code5" id="code5" required>
                    <input type="text" maxlength="1" size="1" name="code6" id="code6" required>
                </div>



                <button type="submit" class="btn btnlogin btn-lg btn-danger">Continuar</button>

            </form>

            <hr class="hrform">

            <a href="#" class="textregister">Não recebi meu código</a>

            <br>


        </div>
        <a href="{{URL}}"><small>Voltar para home</small></a>
    </div>

</div>